.header_icon{
  cursor: pointer;
}
.header_hide{
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .header_left{
    display: flex;
    flex-direction: row;
    align-items: center;
    .header_icon{
      margin-right: 20px;
    }
  }
  .header_right{
    display: flex;
    flex-direction: row;
    align-items: center;
    .header_right_img img{
      width: 45px;
      height: 45px;
      border-radius: 50%;
      margin-left: 5px;
    }
  }
}
// 样式穿透
:deep(.el-breadcrumb__inner){
  color: #333;
  font-weight: bold;
}
.header_right_tc{
  margin-right: 10px;
}
